<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.147405881758-lpo1et4qbq8el10vbl8hgmk9tq8rr0im</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>147405881758-su0l6991tl9qoc35k0kg5dupioo1efb6.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>com.googleusercontent.apps.147405881758-lpo1et4qbq8el10vbl8hgmk9tq8rr0im</string>
	</array>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147405881758-lpo1et4qbq8el10vbl8hgmk9tq8rr0im</string>
</dict>
</plist>
